:root {
	--primary-color: #537b35;
    --primary-text: #ffffff;
    --border-color: #e9ecef;
    --text-color: #a1aab2;
    --heading-text:#212529;
    --header-height: 70px;
	--sidebar-width: 240px;
    --sidebar-small-width: 65px;
    --sidebar-footer-height: 60px;
    --footer-height: 60px;
    --pd: 12px;
    --content-pd: 15px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
img{max-width:100%;}
body {
	background: #ecf4f7;
	color: var(--text-color);
	font-family: 'Quicksand',Arial , sans-serif;
	font-size: 14px;
	line-height: 1.5em;
    overflow: hidden auto;
}
* {
	box-sizing: border-box;
}
a {
    color: inherit;
	transition: 0.5s color, 0.5s background;
	-webkit-transition: 0.5s color, 0.5s background;
	-moz-transition: 0.5s color, 0.5s background;
	-o-transition: 0.5s color, 0.5s background;
	-ms-transition: 0.5s color, 0.5s background;
	text-decoration: none;
}
a:hover {
    color: #343a40;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s color, 0.5s background;
	-webkit-transition: 0.5s color, 0.5s background;
	-moz-transition: 0.5s color, 0.5s background;
	-o-transition: 0.5s color, 0.5s background;
	-ms-transition: 0.5s color, 0.5s background;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
figure.image {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}
figure.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

/* Header */
#header {
    background: var(--primary-color);
    color: var(--primary-text);
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    z-index: 999;
}
#header a {
    padding-left: var(--pd);
    padding-right: var(--pd);
}
.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
}
#logo {
    flex: 0 0 220px;
    max-width: 100%;
    max-width: 55%;
}
.header-actions {
    display: flex;
    align-items: center;
    position: relative;
}

/* Popper*/
.popper {
    visibility: hidden;
    margin-top: 2px;
    opacity: 0;
    transition: 0.5s opacity;
}
.popper-header {
    position: absolute;
    right: var(--pd);
    top: 100%;
    width: 300px;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    color: var(--text-color);
    text-align: left;
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
}
.show-popper {
    opacity: 1;
    visibility: visible;
}

/* Notification */
.popper-notifications-header {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--heading-text);
    border-bottom: 1px solid var(--border-color);
}
.popper-notifications-body {
    max-height: 239px;
    overflow: hidden auto;
}
a.notifications-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 12px;
}
a.notifications-item + a.notifications-item {
    border-top: 1px solid var(--border-color);
}
.notifications-item-icon {
    flex: 0 0 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 15px;
    border-radius: 100%;
    font-size: 16px;
}
.notifications-item-content {
    overflow: hidden;
}
.notifications-item-title {
    font-weight: bold;
    color: var(--heading-text);
    font-size: 14px;
}
a.popper-notifications-footer {
    display: block;
    padding: 15px 10px;
    text-align: center;
    color: var(--heading-text);
    font-weight: bold;
    border-top: 1px solid var(--border-color);
}
.popper-notifications-empty {
    text-align: center;
    font-weight: bold;
    padding: 15px 20px;
    color: var(--heading-text);
}

/* Header Profile */
#header-avatar figure.image {
    width: 30px;
    border-radius: 100%;
}
.popper-user-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--primary-text);
    padding: 16px;
}
.popper-user-menu-content {
    overflow: hidden;
}
.popper-user-menu-avatar {
    flex: 0 0 60px;
    max-width: 60px;
    margin-right: 8px;
}
.popper-user-menu-fullname {
    font-size: 18px;
    font-weight: bold;
}
.user-menu-item {
    padding: 8px 0;
}
.user-menu-item + .user-menu-item {
    border-top: 1px solid var(--border-color);
}
.user-menu-item a {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color: rgb(108, 117, 125);
}
.user-menu-item a:hover {
    background-color: #f2f4f8;
}
.user-menu-icon {
    font-size: 16px;
    width: 20px;
    text-align: center;
    margin-right: 4px;
}

/* Main */
#wrapper {
    padding-top: var(--header-height);
    height: 100vh;
    display: flex;
}
#main {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden auto;
}
#content {
    padding: var(--content-pd);
}

/* Heading Main */
.page-breadcrumb {
    padding: var(--content-pd);
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ffffff;
}
.heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.heading h1 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 24px;
    margin: 5px 15px;
    margin-left: 0;
}
.heading-after {
    margin: 5px 0;
}
.breadcrumb {
    margin-bottom: 0;
    margin-top: 5px;
}
.breadcrumb-item a {
    color: var(--primary-color);
}

/* Sidebar */
#sidebar {
    flex: 0;
    height: 100%;
    background: #ffffff;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    transition: .2s ease-in;
    overflow: hidden auto;
    position: relative;
}
.sidebar-wrapper {
    width: var(--sidebar-width);
    height: 100%;
}
.menu-list {
    height: 100%;
    margin: 0;
    padding: 7px;
    padding-bottom: var(--sidebar-footer-height);
    list-style: none;
    overflow: hidden auto;
}
.menu-item {
    font-size: 15px;
    margin-bottom: 10px;
}
.menu-item a {
    padding: 10px 12px;
    display: flex;
    align-items: center;
}
.menu-icon {
    font-size: 20px;
    flex: 0 0 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}
.menu-text {
    margin-right: auto;
}
.menu-item.has-children > a::after {
    content: "\f104";
    font-family: 'FontAwesome';
    margin-left: 8px;
}
.menu-children {
    margin-bottom: 10px;
    padding-left: 38px;
    list-style: none;
    display: none;
}
.menu-children li a::before {
    content: "\f192";
    font-family: 'FontAwesome';
    margin-left: -30px;
    margin-right: 18px;
}
.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: var(--sidebar-width);
    height: var(--sidebar-footer-height);
    background: #f2f4f8;
    border-top: 1px solid #e9ecef;
}
.sidebar-footer a {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#sidebar.show-sidebar {
    flex: 0 0 var(--sidebar-width);
}

/* Footer */
#footer {
    background: #fff;
    border-top: 1px solid #e9ecef;
    padding: 19px 15px;
}
#footer a {
    color: var(--heading-text);
    font-weight: bold;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0 0;
}
.pagination a, .pagination span {
    background: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 32px;
    height: 32px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination .actived span {
    background: var(--primary-color);
    color: #fff;
}
.pagination .disabled span {
    background: #ccc;
}
.pagination li + li a,.pagination li + li span {
    border-left: 0;
}


/* Style Checkbox */
.style-checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin: 0;
    position: relative;
}
.style-checkbox input {
	display: none;
}
.style-checkbox span {
    margin-left: 5px;
}
.style-checkbox i {
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
}
.style-checkbox input[type="radio"] + i {
    border-radius: 100%;
}
.style-checkbox input:checked + i::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    color: var(--primary-color);
    font-size: 11px;
}
.style-checkbox input[type="radio"]:checked + i::before {
    content: "\f111";
    font-size: 7px;
}
.table-data table th .style-checkbox i {
    border-color: #ffffff;
}
.table-data table th .style-checkbox input[type="checkbox"]:checked + i::before {
    color: #ffffff;
}
.style-checkbox.check-bold i {
    display: none;
}
.style-checkbox.check-bold input:checked ~ span {
    font-weight: bold;
}

/* Style Button */
.style-btn {
    display: inline-flex;
    align-items: center;
    min-height: 35px;
    padding: 5px 15px;
    outline: 0;
    background: var(--primary-color);
    color: #ffffff;
    border: 1px solid var(--primary-color);
    vertical-align: middle;
}
.style-btn:hover {
    background: #ffffff;
    color: var(--primary-color);
}
.style-btn + .style-btn {
    margin-left: 10px;
}

/* Style Input */
.style-input {
    min-height: 35px;
    padding: 5px 15px;
    outline: 0;
    border: 1px solid var(--primary-color);
    vertical-align: middle;
}

/* Style Select */
.style-select {
    min-height: 35px;
    border: 1px solid var(--primary-color);
    padding: 5px 15px;
    outline: none;
    vertical-align: middle;
}


/* Data table */
.data-heading {
    margin-bottom: 10px;
}
.data-heading-show-number {
    text-align: center;
    margin-bottom: 10px;
}
.data-heading-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.data-heading-actions {
    margin-right: 15px;
}
.data-heading-handle-checkbox {
    display: none;
}
.data-heading-filter > * {
    margin: 10px 0 0;
}
.data-heading .pagination-wrapper {
    display: none;
}
.search-data {
    text-align: center;
}
.data-foot-handle-checkbox {
    text-align: center;
}

@media (max-width: 767px) {

    /* Data Table*/
    .table-data table thead,.table-data table tfoot {
        display: none;
    }
    .table-data table tbody th {
        text-align: center;
        padding: 15px;
        display: block;
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }
    .table-data table tr {
        background: #fff;
        display: block;
    }
    .table-data table tr + tr {
        margin-top: 20px;
    }
    .table-data table tbody td + td {
        border-top: 1px solid var(--border-color);
    }
    .table-data table tbody td {
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }
    .table-data table tbody td::before {
        content: attr(data-title);
        background: var(--primary-color);
        color: var(--primary-text);
        padding: 5px 10px;
        margin: -5px -10px;
        align-self: normal;
        flex: 0 0 20%;
        min-width: 100px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
}

/* Data Table */
.table-data table tbody tr td .btn {
    font-size: 13px;
    line-height: inherit;
    padding: 3px 10px;
    min-width: 80px;
}

/* Screen min 768 */
@media (min-width: 768px) {

    /* Header Min 768 */
    #header {
        justify-content: flex-start;
    }
    #header > * {
        order: 999;
    }
    #header #logo {
        order: 1;
        flex-basis: var(--sidebar-width);
    }
    .header-actions {
        margin-left: auto;
    }

    #main {
        flex: 0 0 calc(100% - var(--sidebar-small-width));
    }

    /* Sidebar Min 768 */
    #sidebar {
        flex: 0 0 65px;
    }
    #sidebar:hover {
        flex: 0 0 var(--sidebar-width) !important;
    }
    .menu-text,
    .menu-item.has-children > a::after,
    .sidebar-footer {
        display: none;
    }
    #sidebar.show-sidebar .menu-text,
    #sidebar.show-sidebar .menu-item.has-children > a::after {
        display: inline-block;
    }
    #sidebar:hover .menu-text, 
    #sidebar:hover .menu-item.has-children > a::after {
        display: inline-block !important;
    }
    #sidebar.show-sidebar .sidebar-footer, #sidebar:hover .sidebar-footer{
        display: flex;
    }
    
    /* Data table */
    .data-heading-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-data {
        flex: 0;
        display: flex;
        white-space: nowrap;
        margin-left: auto;
    }
    .data-heading-bottom {
        margin-top: 15px;
        justify-content: space-between;
    }
    .data-heading-actions {
        display: flex;
        align-items: center;
    }
    .data-heading-handle-checkbox {
        display: block;
        margin-right: 5px;
    }
    .data-heading-filter > * {
        margin-top: 0;
    }
    .data-foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    .data-foot .pagination, .data-heading .pagination {
        margin: 0;
        padding: 0;
    }
    .table-data {
        overflow: auto hidden;
    }
    .table-data .table {
        margin-bottom: 0;
    }
    .table-data table th {
        background: #fff;
        border: 1px solid var(--border-color);
        color: var(--primary-text);
        background: var(--primary-color);
    }
    .table-data table tbody th {
        text-align: center;
        padding: 15px;
        background-color: #f6f7f7;
        color: #842029;
    }
    .table-data table tbody tr td {
        color: #67757c;
        background: #ffffff;
        border: 1px solid var(--border-color);
    }
    .table-data table tbody tr td.min-col {
        width: 1%;
        min-width: 20px;
        white-space: nowrap;
        text-align: center;
    }
    .table>:not(:last-child)>:last-child>* {
        border-bottom-color: var(--border-color);
    }
    th.data-sorting {
        position: relative;
        padding-right: 24px;
    }
    th.data-sorting::before {
        content: "\f0de";
        font-family: 'FontAweSome';
        position: absolute;
        right: 8px;
        opacity: 0.5;
    }
    th.data-sorting.asc::before {
        opacity: 1;
    }
    th.data-sorting::after {
        content: "\f0dd";
        font-family: 'FontAweSome';
        position: absolute;
        right: 8px;
        opacity: 0.5;
    }
    th.data-sorting.desc::after {
        opacity: 1;
    }
}

/* Screen min 1200 */
@media (min-width: 1200px) {

    /* Main Min 1200 */
    #main {
        flex: 1 1 auto;
    }
    #sidebar {
        flex: 0 0 var(--sidebar-width);
    }
    .menu-text,
    .menu-item.has-children > a::after {
        display: inline-block;
    }
    .sidebar-footer {
        display: flex;
    }
    #sidebar.show-sidebar {
        flex: 0 0 var(--sidebar-small-width);
    }
    #sidebar.show-sidebar .menu-text,
    #sidebar.show-sidebar .menu-item.has-children > a::after,
    #sidebar.show-sidebar .sidebar-footer{
        display: none;
    }

    /*Data Table*/
    .data-heading .pagination-wrapper {
        display: block;
    }
}